<div class = 'row'>
	<div class = 'col-md-4'>
	<h1>To Do</h1>
		<div class = 'panel panel-info'>
			<div class = 'panel-heading'>My To Do</div>
				<div class = 'panel-body'>This is my todo list</div>
					<div class = 'panel-footer'>This is the footer</div>
			
		</div>
	</div>

	<div class = 'col-md-4'>
	<h1>Doing</h1>
		<div class = 'panel panel-info'>
			<div class = 'panel-heading'>My Doing</div>
				<div class = 'panel-body'>This is my doing list</div>
					<div class = 'panel-footer'>This is the footer</div>
			</div>
	</div>
	<div class = 'col-md-4'>
		<h1>Done</h1>
			<div class = 'panel panel-info'>
			<div class = 'panel-heading'>My Done</div>
				<div class = 'panel-body'>This is my done list</div>
					<div class = 'panel-footer'>This is the footer</div>
			</div>
	</div>
</div>